* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family, --second-family);
}

:root {
    --font-family: "poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar{
    width: 6px;
    background: #ddd;
  }
  ::-webkit-scrollbar-thumb{
    background: #b88e2f;
    border-radius: 10px;
  }
  

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#nav_bar {
    background: #fff;
    width: 100%;
}

.container {
    width: 1440px;
    height: 100px;
    margin: auto;
    position: relative;
}

body {
    background: #f5f5f5;
}

.container_1 {
    width: 1440px;
    position: relative;
    margin: auto;
}


.row {
    display: flex;
}

/* .row_1 {
    display: flex;
} */

.nav_logo {
    width: 185px;
    height: 41px;
    position: absolute;
    left: 100px;
    top: 23px;
}

.nav_menu ul {
    display: flex;
}

.nav_menu {
    position: absolute;
    right: 505px;
    top: 38px;
}

.nav_menu li a {
    margin-left: 75px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.nav_menu li a:hover {
    color: #b88e2f;
}

.nav_icons {
    position: absolute;
    right: 100px;
    top: 36px;
}

.nav_icons a {
    margin-left: 45px;
}



.text_shop {
    position: absolute;
    text-align: center;
    top: 61px;
    left: 658px;
}

.text_shop img {
    width: 77px;
    height: 77px;
    margin-bottom: -20px;
}

.text_shop h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: #000;
}

.text_shop h6 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #000;
}

.text_shop span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}


/** body */
.left_side {
    position: absolute;
    top: 106px;
    left: 100px;
}

.author {
    display: flex;
}

.big_img img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.name,
.date,
.tag {
    display: flex;
    margin-top: 17px;
}

.date,
.tag {
    margin-left: 35px;
}

.author p {
    margin-left: 7px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
}

.some_blog {
    position: absolute;
    top: 556px;
}

.some_blog h1 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    color: #000;
}

.some_blog h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    color: #000;
}

.some_blog p {
    margin-top: 12px;
    width: 817px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    text-align: justify;
    color: #9f9f9f;
}

.some_blog a {
    margin-top: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    position: absolute;
}

/* .line {
    border: 1px solid #000;
    width: 77px;
    height: 0px;
    position: absolute;
    margin-bottom: 0px;
    margin-left: 6px;
} */

.second_img {
    position: absolute;
    top: 848px;
}

.second_blog {
    position: absolute;
    top: 1421px;
    left: 0px;
}

.third_img {
    position: absolute;
    top: 1696px;
    left: 0;
}

.third_blog {
    position: absolute;
    top: 2269px;
}




.right_side input {
    width: 311px;
    height: 58px;
    border: 1px solid #9F9F9F;
    outline: none;
    border-radius: 5px;
    padding-left: 20px;
    position: relative;
    left: 988px;
    top: 106px;
}

.right_side label {
    position: absolute;
    left: 1256px;
    top: 117px;
    font-size: 24px;
    cursor: pointer;
}

.categories {
    position: absolute;
    top: 207px;
    left: 1024px;
    width: 251px;
    height: 353px;
}

.categories h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;
}

.index_text {
    display: flex;
    top: 235px;
    left: 1024px;
    position: absolute;
}

.text h6 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
    margin-top: 41px;
}

.numbers {
    position: absolute;
    left: 240px;
    top: 1px;
}

.numbers p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
    margin-top: 41px;
}

.recent_post h3 {
    position: absolute;
    top: 678px;
    left: 1024px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;
}

.post {
    display: flex;
    position: relative;
    left: 1023px;
    top: 740px;
}

.text {
    width: 119px;
    height: 65px;
    margin-left: 12px;
}

.text h4 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #000;

}

.text p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #9f9f9f;
    margin-top: 5px;
}

.second {
    margin-top: 39px;
}

/* .recent_post{
    width: 393px;
height: 650px;
display: inline-block;
position: relative;
top: 662px;
left: 947px;
} */

/** page select */

.page_select {
    position: absolute;
    top: 2650px;
    left: 524px;
    display: flex;

}

.select_1 {
    width: 60px;
    height: 60px;
    background: #b88e2f;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.select_2:hover,
.select_3:hover {
    background: #b88e2f;
    color: #fff;
}

.select_3 {
    width: 98px;
    height: 60px;
    background: #f9f1e7;
    position: relative;
    margin-left: 38px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;

}

.select_3 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-left: 28px;
    margin-top: 15px;
}

.select_2 {
    margin-left: 38px;
    width: 60px;
    height: 60px;
    background: #f9f1e7;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.select_2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
    position: absolute;
    left: 24px;
    top: 15px;
}

.select_1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 27px;
    top: 15px;
    cursor: pointer;
}

/** details */
.details {
    padding: 100px 0px;
    width: 1440px;
    height: 270px;
    background: #faf3ea;
    position: relative;
    top: 2150px;
}

.high_quality {
    display: flex;
    position: absolute;
    left: 53px;
    top: 100px;
}

.high_quality h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #242424;
}

.high_quality p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
}

.text {
    width: 337px;
    height: 70px;
}

.warranty_image {
    position: relative;
}

.text,
.text_1 {
    margin-left: 10px;
    margin-top: 2px;
}

.warranty_image_1 {
    margin-left: 55.53px;
}

/** footer */
footer {
    background: #fff;
    width: 1440px;
    height: 505px;
    position: relative;
    top: 2172px;
}

.footer {
    position: relative;
}

.left_items {
    position: absolute;
}

.left_items h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-top: 48px;
    margin-left: 100px;
}

.left_items p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
    width: 285px;
    margin-top: 50px;
    margin-left: 102.01px;
}

.left_middle_items {
    position: absolute;
    top: 48px;
    left: 523.01px;
    /* text-align: center; */
}

.left_middle_items p,
.middle_items p,
.right_side_items p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #9f9f9f;
}

.left_middle_items a,
.middle_items a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.left_middle_items a:hover,
.middle_items a:hover {
    color: #b88e2f;
}

.left_middle_items ul,
.middle_items ul {
    margin-top: 55px;
}

.left_middle_items li,
.middle_items li {
    margin-top: 46px;
}

.middle_items {
    position: absolute;
    top: 48px;
    left: 735.01px;
    /* text-align: center; */
}

.right_side_items {
    position: absolute;
    top: 50px;
    left: 947.01px;
}

.sub_in {
    margin-top: 53px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
    width: 200px;
    border: none;
    outline: none;
}

.subscribe_btn {
    margin-left: 38px;
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.hr_3 {
    display: flex;
}

.hr_1 {
    width: 200px;
}

.hr_2 {
    width: 75.01px;
    margin-left: 41px;
}

.line {
    position: absolute;
    top: 408px;
    left: 100px;
}

.copyright {
    position: absolute;
    top: 443px;
    left: 102.01px;

}

.copyright p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
}