* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family, --second-family);
}

:root {
    --font-family: "poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar{
    width: 6px;
    background: #ddd;
  }
  ::-webkit-scrollbar-thumb{
    background: #b88e2f;
    border-radius: 10px;
  }
  

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#nav_bar {
    background: #fff;
    width: 100%;
}

.container {
    width: 1440px;
    height: 100px;
    margin: auto;
    position: relative;
}

.container_1 {
    width: 1440px;
    margin: auto;
    position: relative;
}

.container_2 {
    width: 1440px;
    margin: auto;
    height: 100px;
    position: relative;
}

body {
    background: #f5f5f5;
}

/* .container_1 {
    width: 1440px;
    background-color: #f5f5f5;
    position: relative;
    top: 700px;
    margin: auto;
} */


.row {
    display: flex;
}


/* nav bar */
.nav_logo {
    width: 185px;
    height: 41px;
    position: absolute;
    left: 100px;
    top: 23px;
}

.nav_menu ul {
    display: flex;
}

.nav_menu {
    position: absolute;
    right: 505px;
    top: 38px;
}

.nav_menu li a {
    margin-left: 75px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.nav_menu li a:hover {
    color: #b88e2f;
}

.nav_icons {
    position: absolute;
    right: 100px;
    top: 36px;
}

.nav_icons a {
    margin-left: 45px;
}

/* nav bar end */

.text_shop {
    position: absolute;
    text-align: center;
    top: 121px;
    left: 622px;
}

.text_shop h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: #000;
}

.text_shop h6 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #000;
}

.text_shop span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

/* banner end */

/* body part */

.big_heading {
    position: absolute;
    text-align: center;
    top: 98px;
    left: 398px;
}

.big_heading h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    color: #000;
}

.big_heading p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #9f9f9f;
    width: 644px;
    margin-top: 7px;
}

.left_side {
    position: relative;
    top: 289px;
    left: 191px;
    width: 393px;
    height: 537px;
}

.images {
    display: flex;
    position: relative;
}

.images img {
    position: absolute;
    left: 54px;
    top: 46.12px;
}

.second {
    margin-top: 134.29px;
    position: absolute;
}

.third {
    margin-top: 266.29px;
    position: absolute;
}

.texts {
    position: absolute;
    left: 106px;
    top: 58px;
}

.texts h2 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #000;
}

.texts p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    width: 212px;
}

.forms_part {
    display: flex;
}

/* right side */
.right_side {
    width: 635px;
    height: 923px;
    /* background: #000; */
    position: relative;
    top: -312px;
    left: 604px;
}

.name input {
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    width: 528px;
    height: 75px;
    top: 165px;
    position: relative;
    left: 54px;
    padding-left: 20px;
}

.name {
    display: block;
}

.name label {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
    position: absolute;
    top: 119px;
    left: 53px;
}

.others label {
    margin-top: 157px;
    position: absolute;
}

.others {
    margin-top: 82px;
}

.some_1 label {
    top: 268px;
    position: absolute;
}
.right_side input{
    font-size: 16px;
}

.some_2 textarea {
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    width: 527px;
    height: 120px;
    margin-top: 160px;
    position: absolute;
    right: 55px;
    padding: 20px 0 0 20px;
    font-size: 16px;
}

.some_2 label {
    position: absolute;
    top: 425px;
}

.submit_btn {
    position: absolute;
    top: 805px;
    left: 59px;
}

.submit_bton {
    border-radius: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    border: none;
    outline: none;
    background: #b88e2f;
    width: 237px;
    height: 55px;
    cursor: pointer;
    transition: 0.5s;
}

.submit_bton:hover {
    color: #b88e2f;
    background: #fff;
    border: 1px solid #b88e2f;
}

/** details */
.details {
    padding: 100px 0px;
    width: 1440px;
    height: 270px;
    background: #faf3ea;
    position: relative;
    top: 10px;
}

.high_quality {
    display: flex;
    position: absolute;
    left: 53px;
    top: 100px;
}

.high_quality h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #242424;
}

.high_quality p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
}


.text,
.text_1 {
    margin-left: 10px;
    margin-top: 2px;
}

.warranty_image {
    margin-left: 55.33px;
}

/** footer */
footer {
    background: #fff;
    width: 1440px;
    height: 505px;
    position: relative;
    top: 30px;
}

.footer {
    position: relative;
}

.left_items {
    position: absolute;
}

.row_2 {
    height: 1144px;
}

.left_items h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-top: 48px;
    margin-left: 100px;
}

.left_items p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
    width: 285px;
    margin-top: 50px;
    margin-left: 102.01px;
}

.left_middle_items {
    position: absolute;
    top: 48px;
    left: 523.01px;
    /* text-align: center; */
}

.left_middle_items p,
.middle_items p,
.right_side_items p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #9f9f9f;
}

.left_middle_items a,
.middle_items a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.left_middle_items a:hover,
.middle_items a:hover {
    color: #b88e2f;
}

.left_middle_items ul,
.middle_items ul {
    margin-top: 55px;
}

.left_middle_items li,
.middle_items li {
    margin-top: 46px;
}

.middle_items {
    position: absolute;
    top: 48px;
    left: 735.01px;
    /* text-align: center; */
}

.right_side_items {
    position: absolute;
    top: 50px;
    left: 947.01px;
}

.sub_in {
    margin-top: 53px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
    width: 200px;
    border: none;
    outline: none;
}

.subscribe_btn {
    margin-left: 38px;
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.hr_3 {
    display: flex;
}

.hr_1 {
    width: 200px;
}

.hr_2 {
    width: 75.01px;
    margin-left: 41px;
}

.line {
    position: absolute;
    top: 408px;
    left: 100px;
}

.copyright {
    position: absolute;
    top: 443px;
    left: 102.01px;

}

.copyright p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
}