* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family, --second-family);
}

:root {
    --font-family: "poppins", sans-serif;
    --second-family: "Montserrat", sans-serif;
}
/* ::-webkit-scrollbar{
  width: 6px;
  background: #ddd;
}
::-webkit-scrollbar-thumb{
  background: #b88e2f;
  border-radius: 10px;
} */


ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

#nav_bar {
    background: #fff;
    width: 100%;
}

.container {
    width: 1440px;
    height: 100px;
    margin: auto;
    position: relative;
}

body {
    background: #f5f5f5;
}

.container_1 {
    width: 1440px;
    position: relative;
    margin: auto;
}


.row {
    display: flex;
}


.nav_logo {
    width: 185px;
    height: 41px;
    position: absolute;
    left: 100px;
    top: 23px;
}

.nav_menu ul {
    display: flex;
}

.nav_menu {
    position: absolute;
    right: 505px;
    top: 38px;
}

.nav_menu li a {
    margin-left: 75px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.nav_menu li a:hover {
    color: #b88e2f;
}

.nav_icons {
    position: absolute;
    right: 100px;
    top: 36px;
}

.nav_icons a {
    margin-left: 45px;
}


/* body */
.text_shop {
    position: absolute;
    text-align: center;
    top: 121px;
    left: 658px;
}

.text_shop h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    color: #000;
}

.text_shop h6 {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    color: #000;
}

.text_shop span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

/* banner end */

.toogles {
    width: 1440px;
    background: #f9f1e7;
    position: relative;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.toogles_left_icon {
    display: flex;
}

.icons {
    display: flex;
    position: absolute;
    top: 35px;
    left: 98px;
    justify-content: center;
}

.icons img {
    margin-top: 2px;
}

.icons p {
    margin-left: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
    width: 48px;
    height: 30px;
}

.other_images {
    margin-left: 23px;
}

.icons hr {
    margin-left: 30px;
    margin-top: -7px;
}

.result {
    position: absolute;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
    left: 346px;
    top: 38px;
}

.right_toogle {
    display: flex;
    position: absolute;
    left: 897px;
    top: 22px;
}

.right_toogle p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
}

.right_toogle select {
    width: 55px;
    height: 55px;
    padding-left: 10px;
    border: none;
    margin-left: 17px;
    margin-top: -12px;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #9f9f9f;
}

.default {
    display: flex;
}

.default p {
    margin-left: 29px;
}

.default select {
    padding-left: 10px;
    width: 188px;
    height: 55px;
}





/** product */


.all_product {
    position: relative;
    left: 102px;
    top: 46px;
    display: flex;
    flex-wrap: wrap;
}

.first {
    margin-left: 32px;
}

.second_line,
.third_line {
    margin-top: 180px;
}

.product_img {
    width: 285px;
    height: 301px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: 0.5s;
    position: relative;
    border-radius: 10px 10px 0 0;
}

.discount {
    background: #e97171;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 100;
}

.discount_new {
    background: #2ec1ac;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    z-index: 100;
}

.discount_new p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
    margin-left: 5px;
}

.discount p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-top: 12px;
    margin-left: 5px;
}

.desc {
    width: 285px;
    height: 145px;
    background: #f4f5f7;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 0 0 10px 10px;
}


.product_details h4 {
    margin-top: 16px;
    margin-left: 16px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #3a3a3a;
}

.product_details p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #898989;
    margin-left: 16px;
    margin-top: 8px;
}

.price {
    display: flex;
    margin-top: 8px;
    margin-left: 16px;
}

.price h5 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    color: #3a3a3a;
}

.price p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    text-decoration: line-through;
    color: #b0b0b0;
    margin-left: 16px;
    margin-top: 3px;
}

.products {
    position: relative;
    cursor: pointer;
}

.products::after {
    content: '';
    width: 285px;
    height: 446px;
    background: #3a3a3a;
    opacity: 0.72;
    position: absolute;
    top: 0;
    border-radius: 10px;
    visibility: hidden;
    transition: 0.5s cubic-bezier(.17, .67, .83, .67);
}

.products:hover::after {
    visibility: visible;
}

.products:hover .later_show_button {
    visibility: visible;
}

.later_show_button {
    position: absolute;
    z-index: 100;
    top: 175px;
    left: 41px;
    visibility: hidden;
    transition: 0.1s cubic-bezier(.17, .67, .83, .67);
}

.cart_btn {
    width: 202px;
    cursor: pointer;
    height: 48px;
    background: #fff;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #b88e2f;
    transition: 0.5s;
}

.cart_btn:hover {
    color: #fff;
    background: #b88e2f;
}

.products:hover .other_items {
    visibility: visible;
}

.other_items,
.share,
.compare,
.like {
    display: flex;
}

.other_items {
    position: absolute;
    left: 16px;
    top: 247px;
    z-index: 100;
    visibility: hidden;
    transition: 0.5s cubic-bezier(.17, .67, .83, .67);
}

.other_items p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    margin-left: 4px;
    margin-top: -2px;
}

.compare,
.like {
    margin-left: 20px;
}

.page_select {
    position: absolute;
    top: 2424px;
    left: 521px;
    display: flex;

}

.select_1 {
    width: 60px;
    height: 60px;
    background: #b88e2f;
    border-radius: 10px;
    position: relative;
}

.select_2:hover,
.select_3:hover {
    background: #b88e2f;
    color: #fff;
}

.select_3 {
    width: 98px;
    height: 60px;
    background: #f9f1e7;
    position: relative;
    margin-left: 38px;
    border-radius: 10px;
    transition: 0.5s;

}

.select_3 p {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-left: 28px;
    margin-top: 15px;
}

.select_2 {
    margin-left: 38px;
    width: 60px;
    height: 60px;
    background: #f9f1e7;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
}

.select_2 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #000;
    position: absolute;
    left: 24px;
    top: 15px;
}

.select_1 p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    position: absolute;
    left: 27px;
    top: 15px;
    cursor: pointer;
}


/** details */
.details {
    padding: 100px 0px;
    width: 1440px;
    height: 270px;
    background: #faf3ea;
    position: relative;
    top: 430px;
}

.high_quality {
    display: flex;
    position: absolute;
    left: 53px;
    top: 100px;
}

.high_quality h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    color: #242424;
}

.high_quality p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #898989;
}

.text,
.text_1 {
    margin-left: 10px;
    margin-top: 2px;
}

.warranty_image {
    margin-left: 55.33px;
}

/** footer */
footer {
    background: #fff;
    width: 1440px;
    height: 505px;
    position: relative;
    top: 430px;
}

.footer {
    position: relative;
}

.left_items {
    position: absolute;
}

.left_items h2 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    color: #000;
    margin-top: 48px;
    margin-left: 100px;
}

.left_items p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #9f9f9f;
    width: 285px;
    margin-top: 50px;
    margin-left: 102.01px;
}

.left_middle_items {
    position: absolute;
    top: 48px;
    left: 523.01px;
    /* text-align: center; */
}

.left_middle_items p,
.middle_items p,
.right_side_items p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #9f9f9f;
}

.left_middle_items a,
.middle_items a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.left_middle_items a:hover,
.middle_items a:hover {
    color: #b88e2f;
}

.left_middle_items ul,
.middle_items ul {
    margin-top: 55px;
}

.left_middle_items li,
.middle_items li {
    margin-top: 46px;
}

.middle_items {
    position: absolute;
    top: 48px;
    left: 735.01px;
    /* text-align: center; */
}

.right_side_items {
    position: absolute;
    top: 50px;
    left: 947.01px;
}

.sub_in {
    margin-top: 53px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
    width: 200px;
    border: none;
    outline: none;
}

.subscribe_btn {
    margin-left: 38px;
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.hr_3 {
    display: flex;
}

.hr_1 {
    width: 200px;
}

.hr_2 {
    width: 75.01px;
    margin-left: 41px;
}

.line {
    position: absolute;
    top: 408px;
    left: 100px;
}

.copyright {
    position: absolute;
    top: 443px;
    left: 102.01px;

}

.copyright p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #000;
}



/* cart open */


.grid.grid.two-col > div {
    height: 72px;
    width: 88px;
  }
  
  .frame {
    translate: 0 10px;
  }
  
  .frame header {
    top: -60px;
  }
  
  .frame h3 {
    bottom: -24px;
  }
  
  /* body {
    background-color: #333037;
  }
  
  h2 {
    margin: 0;
    font-weight: 400;
  }
  
  p {
    margin: 0;
  } */
  
  html.modal-active,
  body.modal-active {
    overflow: hidden;
  }
  
  #modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    transform: scale(0);
    z-index: 1;
    color: #222222;
  }
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one .modal-background .modal {
    transform: scale(0);
    animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out {
    transform: scale(1);
    animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.one.out .modal-background .modal {
    animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two {
    transform: scale(1);
  }
  #modal-container.two .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two .modal-background .modal {
    opacity: 0;
    animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two + .content {
    animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out {
    animation: quickScaleDown 0.85s linear forwards;
  }
  #modal-container.two.out .modal-background {
    animation: fadeOut 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out .modal-background .modal {
    animation: scaleDown 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.two.out + .content {
    animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three {
    z-index: 1;
    transform: scale(1);
  }
  #modal-container.three .modal-background {
    background: rgba(0, 0, 0, 0.6);
  }
  #modal-container.three .modal-background .modal {
    animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three + .content {
    z-index: 1;
    animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three.out .modal-background .modal {
    animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.three.out + .content {
    animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four {
    z-index: 1;
    transform: scale(1);
  }
  #modal-container.four .modal-background {
    background: rgba(0, 0, 0, 0.7);
  }
  #modal-container.four .modal-background .modal {
    animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four + .content {
    z-index: 1;
    animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  #modal-container.four.out {
    z-index: 0;
    background: rgba(0 0 0 / 0%);
  }
  
  #modal-container.four.out .modal-background .modal {
    animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.four.out + .content {
    animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five {
    transform: scale(1);
  }
  #modal-container.five .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five .modal-background .modal {
    transform: translateX(-1500px);
    animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.five.out {
    animation: quickScaleDown 1.2s linear forwards;
  }
  #modal-container.five.out .modal-background {
    animation: fadeOut 1.2s forwards;
  }
  #modal-container.five.out .modal-background .modal {
    animation: roadRunnerOut 1.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six {
    transform: scale(1);
  }
  #modal-container.six .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six .modal-background .modal {
    background-color: transparent;
    animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six .modal-background .modal h2,
  #modal-container.six .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1)
      forwards;
  }
  #modal-container.six .modal-background .modal .modal-svg rect {
    animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out {
    animation: quickScaleDown 0s 0.5s linear forwards;
  }
  #modal-container.six.out .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out .modal-background .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.six.out .modal-background .modal h2,
  #modal-container.six.out .modal-background .modal p {
    animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1)
      forwards;
  }
  #modal-container.six.out .modal-background .modal .modal-svg rect {
    animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven {
    transform: scale(1);
  }
  #modal-container.seven .modal-background {
    background: rgba(0, 0, 0, 0);
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven .modal-background .modal {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    overflow: hidden;
    animation: bondJamesBond 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven .modal-background .modal h2,
  #modal-container.seven .modal-background .modal p {
    opacity: 0;
    position: relative;
    animation: modalContentFadeIn 0.25s 1s linear forwards;
  }
  #modal-container.seven.out {
    animation: slowFade 0.5s 1.5s linear forwards;
  }
  #modal-container.seven.out .modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeToRed 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.seven.out .modal-background .modal {
    border-radius: 3px;
    height: 162px;
    width: 227px;
    animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container .modal-background {
    display: table-cell;
    background: #fff;
    text-align: center;
    vertical-align: middle;
  }
  #modal-container .modal-background .modal {
    background: #fff;
    width: 500px;
    height: 162px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 300;
    position: relative;
  }
  #modal-container .modal-background .modal h2 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #000;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  /* #modal-container .modal-background .modal p {
    font-size: 10px;
    line-height: 22px;
    color: rgb(249 249 249 / 50%);
  } */
  #modal-container .modal-background .modal .modal-svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 700px;
    border-radius: 3px;
  }
  #modal-container .modal-background .modal .modal-svg rect {
    stroke: #fff;
    stroke-width: 2px;
    stroke-dasharray: 778;
    stroke-dashoffset: 778;
  }
  
  #modal-container.side {
    transform: scale(1);
  }
  /* ! */
  #modal-container.side .modal {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440px;
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 0;
    transform: scale(1);
    padding: 0;
    left: auto;
  }
  
  #modal-container.side .modal .modal-background {
    transform: scale(1);
  }
  
  #modal-container.side {
    animation: sideIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.side .modal-background .modal {
    animation: sideModalIn 0.75s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  #modal-container.side.out {
    transform: scale(1);
    animation: sideOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  #modal-container.side.out .modal-background .modal {
    animation: sideModalOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }
  
  @keyframes sideIn {
    0% {
      opacity: 0;
      background: rgba(0 0 0 / 0%);
    }
    100% {
      opacity: 1;
      background: rgba(0 0 0 / 50%);
    }
  }
  
  @keyframes sideOut {
    100% {
      opacity: 0;
      visibility: hidden;
      transform: scale(1);
    }
  }
  
  @keyframes sideModalIn {
    0% {
      opacity: 0;
      transform: scale(1) translateX(240px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateX(0);
    }
  }
  
  @keyframes sideModalOut {
    100% {
      transform: translateX(240px);
    }
  }
  
  @keyframes unfoldIn {
    0% {
      transform: scaleY(0.005) scaleX(0);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(1) scaleX(1);
    }
  }
  @keyframes unfoldOut {
    0% {
      transform: scaleY(1) scaleX(1);
    }
    50% {
      transform: scaleY(0.005) scaleX(1);
    }
    100% {
      transform: scaleY(0.005) scaleX(0);
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes fadeIn {
    0% {
      background: rgba(0, 0, 0, 0);
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  @keyframes fadeOut {
    0% {
      background: rgba(0, 0, 0, 0.7);
    }
    100% {
      background: rgba(0, 0, 0, 0);
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
  }
  @keyframes scaleDown {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(0.8) translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes scaleBack {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.85);
    }
  }
  @keyframes scaleForward {
    0% {
      transform: scale(0.85);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes quickScaleDown {
    0% {
      transform: scale(1);
    }
    99.9% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes slideUpLarge {
    0% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(-100%);
    }
  }
  @keyframes slideDownLarge {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes moveUp {
    0% {
      transform: translateY(150px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes moveDown {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(150px);
    }
  }
  @keyframes blowUpContent {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    99.9% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes blowUpContentTwo {
    0% {
      transform: scale(2);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes blowUpModal {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes blowUpModalTwo {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }
  @keyframes roadRunnerIn {
    0% {
      transform: translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform: translateX(30px) skewX(0deg) scaleX(0.9);
    }
    100% {
      transform: translateX(0px) skewX(0deg) scaleX(1);
    }
  }
  @keyframes roadRunnerOut {
    0% {
      transform: translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
      transform: translateX(-30px) skewX(-5deg) scaleX(0.9);
    }
    100% {
      transform: translateX(1500px) skewX(30deg) scaleX(1.3);
    }
  }
  @keyframes sketchIn {
    0% {
      stroke-dashoffset: 778;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes sketchOut {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 778;
    }
  }
  @keyframes modalFadeIn {
    0% {
      background-color: transparent;
    }
    100% {
      background-color: #201e22;
    }
  }
  @keyframes modalFadeOut {
    0% {
      background-color: #201e22;
    }
    100% {
      background-color: transparent;
    }
  }
  @keyframes modalContentFadeIn {
    0% {
      opacity: 0;
      top: -20px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes modalContentFadeOut {
    0% {
      opacity: 1;
      top: 0px;
    }
    100% {
      opacity: 0;
      top: -20px;
    }
  }
  @keyframes bondJamesBond {
    0% {
      transform: translateX(1000px);
    }
    80% {
      transform: translateX(0px);
      border-radius: 75px;
      height: 75px;
      width: 75px;
    }
    90% {
      border-radius: 3px;
      height: 182px;
      width: 247px;
    }
    100% {
      border-radius: 3px;
      height: 162px;
      width: 227px;
    }
  }
  @keyframes killShot {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(240px) rotate(45deg);
      opacity: 0;
    }
  }
  @keyframes fadeToRed {
    0% {
      background-color: rgba(0, 0, 0, 0.6);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.8);
    }
  }
  @keyframes slowFade {
    0% {
      opacity: 1;
    }
    99.9% {
      opacity: 0;
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  .modal p{
    font-size: 18px;
    color: #000;
  }
  .modal a{
    color: #b88e2f;
    font-size: 20px;
    cursor: pointer;
    z-index: 100;
  }
  .modal a:hover{
    text-decoration: underline;
  }

  .cart_icon{
    position: absolute;
    top: -5px;
    right: -20px;
    font-size: 28px;
  }
  /*cart end  */
